/* This file is used to style the music player settings */

iframe {
  border: none;
}

.cls-settings-menu {
  display: none;
  /* display: flex; */
  top: 40px;
  flex-direction: column;
  width: 750px;
  border: black 1px solid;
  z-index: 20;
  text-align: center;
  align-items: center;
  font-family: "Nova Square", cursive !important;
}

.cls-settings-menu label {
  background-color: white;
  font-size: 12px;
}

.cls-settings-menu .cls-group-box > label {
  width: 100%;
  font-size: 13px;
  background-color: #d6e0ed;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cls-settings-menu .cls-vertical-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 100%;
  width: 100%;
  position: relative;
}

.cls-settings-menu .cls-horizontal-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Puts the checkbox next to the label */
.cls-settings-menu .cls-vertical-box[id$="options"] {
  align-items: center;
  align-self: center;
}

.cls-settings-menu .cls-vertical-box[id$="options"] .cls-horizontal-box {
  width: 100%;
  justify-content: center;
}

.cls-settings-menu .cls-vertical-box[id$="options"] .cls-horizontal-box input {
  vertical-align: middle;
}

/* .cls-settings-menu .cls-vertical-box[id$="options"] .cls-horizontal-box label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
} */

/* .cls-settings-menu .cls-horizontal-box[id$="random-themes"],
.cls-settings-menu .cls-horizontal-box[id$="soundtrack"] {
  justify-content: center;
} */

.cls-settings-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}

.cls-settings-menu image {
  vertical-align: middle;
}

.cls-settings-menu label[id$="version"] {
  width: 100%;
  font-size: 10px;
  color: #888888;
  background-color: #f0f0f0;
}

.cls-settings-menu a[id$="update"] {
  font-size: 12px;
  background-color: #ff0000;
  color: white;
  width: 100%;
}
.cls-settings-menu .co_caret {
  position: absolute;
  top: 28px;
  left: 25px;
  border: none;
  z-index: 30;
}

.cls-settings-menu .co_portrait {
  border-color: #009966;
  z-index: 30;
  border: 2px solid;
  vertical-align: middle;
  align-self: center;
}

.cls-settings-menu input[type="range"][id$="themes-start-on-day"] {
  --c: rgb(168, 73, 208); /* active color */
}
