/* Context Menu */
.cls-context-menu {
  /* display: none; */
  display: flex;
  top: 40px;
  flex-direction: column;
  width: 275px;
}

.cls-context-menu label {
  width: 100%;
  font-size: 14px;
  background-color: #dedede;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cls-context-menu .cls-horizontal-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

.cls-context-menu .cls-vertical-box label {
  background-color: white;
  font-size: 12px;
}

.cls-context-menu .cls-vertical-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.cls-context-menu image {
  vertical-align: middle;
}

.cls-context-menu label[id$="version"] {
  width: 100%;
  font-size: 9px;
  color: #888888;
  background-color: #f0f0f0;
}
